<div class="field">
    <label for="{{  name}}">{{ label }}</label>
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}" placeholder="{{ placeholder }}" required>{{ value }}</textarea>
</div>